/.idea/.idea.LoanApp/
/tests/Loan.Domain.Test/obj/
/tests/Loan.Domain.Test/bin/
/src/Loan.Domain/bin/
/src/Loan.Domain/obj/
/src/Loan/bin/
/src/Loan/obj/
/LoanApp.sln.DotSettings.user
/src/Loan.Domain.Repository/obj/
/src/Loan.Service.WebApi/obj/
/src/Loan.Service.WebApi/bin/
/src/Loan.Domain.Repository/bin/
/tests/Loan.Service.WebApi.Test/bin/
/tests/Loan.Service.WebApi.Test/obj/
/src/Core/obj/
/src/Core/bin/
/src/MyContext.Domain/obj/
/src/MyContext.Domain/bin
/src/MyContext.Domain.Repository/obj/
/src/MyContext.Domain.Repository/bin
/src/MyContext.Service.WebApi/obj/
/src/MyContext.Service.WebApi/bin
/tests/MyContext.Domain.Test/bin/
/tests/MyContext.Domain.Test/obj/
/.vs
/loan_ddd.db
