/.idea/.idea.LoanApp/
/tests/Loan.Domain.Test/obj/
/tests/Loan.Domain.Test/bin/
/src/Loan.Domain/bin/Debug/netcoreapp3.1/
/src/Loan.Domain/obj/
/src/Loan/bin/Debug/netcoreapp3.1/
/src/Loan/obj/
/LoanApp.sln.DotSettings.user
/src/Loan.Domain.Repository/obj/
/src/Loan.Service.WebApi/obj/
/src/Loan.Service.WebApi/bin/Debug/netcoreapp3.1/
/src/Loan.Domain.Repository/bin/Debug/netcoreapp3.1/
